<form action="/register" method="POST">

    <input
        class="form-control mb-3"
        name="firstName"
        placeholder="First Name"
        required>

    <input
        class="form-control mb-3"
        name="lastName"
        placeholder="Last Name"
        required>

    <input
        class="form-control mb-3"
        type="email"
        name="email"
        placeholder="Email"
        required>

    <input
        class="form-control mb-3"
        type="password"
        name="password"
        placeholder="Password"
        required>

    <button class="btn btn-success">
        Register
    </button>

</form>